{% extends 'base.html' %}

{% block content %} 

<style>
  .product-container{
  display:flex;
  font-size:small;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.product-container .product{
padding:20px;
  display: flex;
  flex-direction: column;
  border:1px solid rgb(214, 214, 214);
  width:600px;
  gap:10px;
}
img{
  border-radius: 5px;
  max-width: 100%;
}
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-btn{
  background-color: rgb(50, 50, 197);
  border:none;
  border-radius: 5px;
  color:white;
  padding:5px 15px;
  cursor: pointer;
}
</style>
<div class="product-container">
  <div class="product">
    <small>By: {{product.seller}}</small>
<div class="product-header">
<h1>{{ product.name }}</h1>{% if bought %}    

<a href="{% url 'product-file-download' product_id=product.id %}">
<button class="download-btn">Download</button>
</a>


   
{% else %}
<a href="{% url 'create_order' pk=product.pk%}"> 
  Buy now and download ${{product.price}} 
</a>    
{% endif %}
</div>
<img src="{{product.image.url}}">
<small>{{product.catagory}}</small>
<p> {{ product.description }} </p>







</div>
</div>
{% endblock %}